# Non-project-specific build files:
build.xml
local.properties
/gradlew
/gradlew.bat
/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
/build

**/.DS_Store
**/*.mp3
**/*.m4a
**/*.wav

node_modules
app/bower_components

app/input
app/output