<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css">
	<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
	<script src="bower_components/n3/n3-browser.js"></script>
	<script src="bower_components/jsonld/js/jsonld.js"></script>
	<script src="bower_components/mathjs/dist/math.min.js"></script>
	<script src="bower_components/async/dist/async.min.js"></script>
	<script src="bower_components/dymo-core/dist/dymo-core.min.js"></script>
	<!--script src="bower_components/dymo-generator/dist/dymo-generator.min.js"></script-->
	<script src="bower_components/dymo-generator/src/dymo-generator.js"></script>
	<script src="bower_components/dymo-generator/src/dymo-templates.js"></script>
	<script src="bower_components/dymo-generator/src/feature-loader.js"></script>
	<script src="bower_components/dymo-generator/src/globals.js"></script>
	<script src="bower_components/benchmarker/benchmarker.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/services/d3.js" charset="utf-8"></script>
	<script src="scripts/controllers/maincontroller.js"></script>
	<script src="scripts/controllers/dymocontroller.js"></script>
	<script src="scripts/controllers/renderingcontroller.js"></script>
	<script src="scripts/directives/mappingspainter.js"></script>
	<script src="scripts/directives/file-dropper.js"></script>
	<script src="bower_components/music-visualization/dymobubbles.js"></script>
	<script src="bower_components/music-visualization/dymoblocks.js"></script>
	<script src="bower_components/music-visualization/dymoarcs.js"></script>
	<script src="bower_components/music-visualization/dymograph.js"></script>
	<script src="bower_components/music-visualization/dymocoordinates.js"></script>
</head>
<body ng-app="dymoDesigner">
	<div ng-controller="MainController">
		<h1>Dymo Designer</h1>
		<div ng-controller="DymoController">
			<div>
				<span>activity:</span>
				<select ng-init="selectedActivity = activities[0]" ng-model="selectedActivity" ng-options="a.name for a in activities"></select>
				<button ng-click="play()">Play</button>
				<button ng-click="stop()">Stop</button>
			</div>
			<div ng-show="selectedActivity == activities[0]">
				<button ng-click="showFeatureDialog()">Select Features</button>
				<!--button ng-click="addDymo()">Add Dymo</button>
				<button ng-click="loadDymo()">Load Dymo</button>
				<span>folder:</span>
				<select ng-model="selectedFolder" ng-options="s for s in inputFolders" ng-change="sourceSelected()"></select>
				<span>feature:</span>
				<select ng-model="selectedFeature" ng-options="f for f in featureFiles"></select>
				<span>condition:</span>
				<input type="text" ng-model="labelCondition" size="2"></input-->
				<span>mode:</span>
				<select ng-init="selectedFeatureMode = featureModes[0]" ng-model="selectedFeatureMode" ng-options="m.name for m in featureModes"></select>
				<!--button ng-click="loadFeature()">Add Features</button-->
				<button ng-click="save()">Save</button>
			</div>
			<div ng-controller="RenderingController" ng-show="selectedActivity == activities[1]">
				<div>
					<span>type:</span>
					<select ng-init="selectedMappingType = mappingTypes[0]" ng-model="selectedMappingType" ng-options="t.name for t in mappingTypes"></select>
					<span ng-show="selectedMappingType == mappingTypes[0]">
						feature:
						<select ng-init="selectedFeature = features[0]" ng-model="selectedFeature" ng-options="p.name for p in features"></select>
					</span>
					<span ng-show="selectedMappingType == mappingTypes[1]">
						control:
						<select ng-model="selectedControl" ng-options="c.name for c in uiControls"></select>
					</span>
					<span ng-show="selectedMappingType == mappingTypes[2]">
						control:
						<select ng-init="selectedControlType = controls[0]" ng-model="selectedControlType" ng-options="c.name for c in controls"></select>
						name:
						<input type="text" ng-model="controlName" size="10"></input>
					</span>
					<button ng-click="addDomainDim()">Add Domain Dimension</button>
					<span>available: </span>
					<span ng-repeat="d in currentDomainDims">
						<span>{{d.variable}} = {{d.name}}{{$last ? '' : ', '}}</span>
					</span>
				</div>
				<div>
					<span>function: y = </span>
					<input type="text" ng-model="mappingFunction" size="20"></input>
					<span>parameter:</span>
					<select ng-init="selectedParameter = parameters[0]" ng-model="selectedParameter" ng-options="p.name for p in parameters"></select>
					<span>level:</span>
					<input type="text" ng-init="mappingLevel = 1" ng-model="mappingLevel" size="2"></input>
					<button ng-click="addMapping()">Add Mapping</button>
					<button ng-click="save()">Save</button>
				</div>
				<div>
					Mappings: 
					<span ng-repeat="m in currentMappings">
						{{getFunctionReturnString(m.function)}} :
						<span ng-repeat="d in m.domainDims">
							{{d.name}}{{$last ? '' : ', '}}
						</span>
						-> {{m.parameter}}{{$last ? '' : ', '}}
					</span>
				</div>
				<div ng-repeat="u in uiControls">
					{{u.name}}
					<input type="range" name="slider" min="0" max="1" step=".001" ng-model="u.value" ng-change="u.updateMappings()">
				</div>
			</div>
			<div ng-show="selectedActivity == activities[2]">
				<span>view:</span>
				<select ng-init="selectedView = views[0]" ng-model="selectedView" ng-options="v.name for v in views"></select>
				<span ng-repeat="v in viewConfig">
					<span>{{v.name}}:</span>
					<select ng-model="v.param" ng-options="p.name for p in features"></select>
					<input type="checkbox" ng-model="v.log"></input>
				</span>
			</div>
			<div dropzone>
			<!--div class="fileDropper" file-dropzone="[image/png, image/jpeg, image/gif]" file="image" file-name="imageFileName" data-max-file-size="3"-->
				<div ng-if="selectedView == views[0]">
					<dymo-coordinates data="dymoGraph" viewconfig="viewConfig" playing="urisOfPlayingDymos" label="name" on-click="dymoOnClick(item)"></dymo-coordinates>
				</div>
				<div ng-if="selectedView == views[1]">
					<dymo-blocks data="dymoGraph" viewconfig="viewConfig" playing="urisOfPlayingDymos" label="name" on-click="dymoOnClick(item)"></dymo-blocks>
				</div>
				<div ng-if="selectedView == views[2]">
					<dymo-arcs data="similarityGraph" viewconfig="viewConfig" playing="urisOfPlayingDymos" label="name" on-click="dymoOnClick(item)"></dymo-arcs>
				</div>
				<div ng-if="selectedView == views[3]">
					<dymo-graph data="dymoGraph" viewconfig="viewConfig" playing="urisOfPlayingDymos" label="name" on-click="dymoOnClick(item)"></dymo-graph>
				</div>
				<div ng-if="selectedView == views[4]">
					<dymo-graph data="similarityGraph" viewconfig="viewConfig" playing="urisOfPlayingDymos" label="name" on-click="dymoOnClick(item)"></dymo-graph>
				</div>
				<div ng-if="selectedView == views[5]">
					<mappings-painter data="areas" viewconfig="viewConfig" playing="getUrisOfPlayingDymos" label="name" on-click="areaOnClick(item)" add-point="addPointToArea(item)" finish-area="finishArea()"></mappings-painter>
				</div>
				<!--div ng-show="selectedVisuals == views[2]">
					<dymo-bubbles data="dymoList" label="name" on-click="dymoOnClick(item)"></dymo-bubbles>
				</div-->
			</div>
		</div>
	</div>
</body>
</html>