<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/dymo-core/logic/dymo.js"></script>
	<script src="bower_components/dymo-core/logic/rendering.js"></script>
	<script src="bower_components/dymo-core/logic/parameter.js"></script>
	<script src="bower_components/dymo-core/io/featureloader.js"></script>
	<script src="bower_components/dymo-core/io/dymowriter.js"></script>
	<script src="bower_components/dymo-core/audio/scheduler.js"></script>
	<script src="bower_components/dymo-core/audio/source.js"></script>
	<script src="bower_components/dymo-core/lib/AudioSampleLoader.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/dmomanager.js"></script>
	<script src="scripts/services/d3.js" charset="utf-8"></script>
	<script src="scripts/controllers/dmocontroller.js"></script>
	<script src="scripts/controllers/renderingcontroller.js"></script>
	<script src="scripts/directives/dmobubbles.js"></script>
	<script src="scripts/directives/dmograph.js"></script>
	<script src="scripts/directives/dmocoordinates.js"></script>
</head>
<body ng-app="dmoDesigner">
	<div>
		<h1>Dymo Designer</h1>
		<div ng-controller="DmoController">
			<div>
				<!--button ng-click="dmo.addDmo()">Add DMO</button-->
				<span>source:</span>
				<select ng-model="selectedSource" ng-options="s for s in sourceFiles" ng-change="sourceSelected()"></select>
				<span>feature:</span>
				<select ng-model="selectedFeature" ng-options="f for f in featureFiles"></select>
				<span>condition:</span>
				<input type="text" ng-model="labelCondition" size="2"></input>
				<span>mode:</span>
				<select ng-init="selectedFeatureMode = featureModes[0]" ng-model="selectedFeatureMode" ng-options="m.name for m in featureModes"></select>
				<button ng-click="loadFeature()">Add Features</button>
				<button ng-click="play()">Play</button>
				<button ng-click="stop()">Stop</button>
				<button ng-click="save()">Save</button>
			</div>
			<div ng-controller="RenderingController">
				<span>mapping type:</span>
				<select ng-init="selectedMappingType = mappingTypes[0]" ng-model="selectedMappingType" ng-options="t.name for t in mappingTypes"></select>
				<span ng-show="selectedMappingType == mappingTypes[0]">
					feature:
					<select ng-init="selectedFeature = dmo.features[0]" ng-model="selectedFeature" ng-options="p.name for p in dmo.features"></select>
				</span>
				<span ng-show="selectedMappingType == mappingTypes[1]">
					control:
					<select ng-init="selectedControl = controls[0]" ng-model="selectedControl" ng-options="c.name for c in controls"></select>
				</span>
				<span>function: y = </span>
				<input type="text" ng-model="mappingFunction" size="7"></input>
				<span>parameter:</span>
				<select ng-init="selectedParameter = parameters[0]" ng-model="selectedParameter" ng-options="p.name for p in parameters"></select>
				<span>level:</span>
				<input type="text" ng-model="mappingLevel" size="2"></input>
				<button ng-click="addMapping()">Add Mapping</button>
			</div>
			<div>
				<span>view:</span>
				<select ng-init="selectedView = views[0]" ng-model="selectedView" ng-options="v.name for v in views"></select>
				<span ng-repeat="v in viewConfig">
					<span>{{v.name}}:</span>
					<select ng-model="v.param" ng-options="p.name for p in dmo.features"></select>
					<input type="checkbox" ng-model="v.log"></input>
				</span>
			</div>
			<div ng-if="selectedView == views[0]">
				<dmo-coordinates data="dmo.graph" viewconfig="viewConfig" playing="scheduler.urisOfPlayingDmos" label="name" on-click="dmoOnClick(item)"></dmo-coordinates>
			</div>
			<div ng-if="selectedView == views[1]">
				<dmo-graph data="dmo.graph" viewconfig="viewConfig" playing="scheduler.urisOfPlayingDmos" label="name" on-click="dmoOnClick(item)"></dmo-graph>
			</div>
			<!--div ng-show="selectedVisuals == views[2]">
				<dmo-bubbles data="dmoList" label="name" on-click="dmoOnClick(item)"></dmo-bubbles>
			</div-->
		</div>
	</div>
</body>
</html>