* {
	margin: 0;
	padding: 0;
}

html, body { height: 100%; }

h1, body, button, input, select {
	font-family: Avenir Next, Arial, sans-serif;
	font-size: 18px;
	text-align: center;
	font-weight: 300;
	background-color: #fdfdfd;
	padding:5px 10px;
}

h1 { font-size: 200%; }

button, select {
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #eeeeee;
	display:inline-block;
	/*cursor:pointer;
	padding:5px 5px;*/
}

select {
	-webkit-appearance: none;
}

button:hover {
	background-color:#eeeeee;
}